@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(Image/Documento\ de\ Kriz\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  max-width: 100%
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background-image: url(Image/fondo\ texto.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 80px 0;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #FF5A2C;
  font-size: 20PX;
  font-weight: 800;
  text-transform: uppercase;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 20px;
  padding: 30px;
  color: #0e0202;
  font-weight: 600;
  display: block;
}
.menu .navbar ul li a:hover {
  color:#FF5A2C;
}
#menu {
  display: none;
}  
.menu-icono {
  width: 70px;
}
.menu label {
  cursor: pointer;
  display: none;
}
.header-content {
  display: flex;
}
.header-txt {
  flex-basis: 50%
}
.header-txt h1 {
  font-size: 60px;
  color: #000000;
  line-height: 1.3;
  margin-bottom: 25px;
}
.header.txt span {
  color: #FF5A2C;
}
.header-txt p {
  font-size: 17px;
  color: #000000;
  margin-bottom: 45px;
}
.butons {
  display: flex;
}
.btn-1, .btn-2, .btn-3 {
  display: inline-block;
  padding: 11px 35px;
  border: 2px solid #FF5A2C;
  border-radius: 25px;
  margin-right: 25px;
  font-size: 17px;
  color: #000000;
}
.btn-1:hover{
  background-color: #FF5A2C;
}
.btn-2:hover{
  background-color: #5dff2c;
}
.popular {
  padding: 100px;
  text-align: center;
  justify-content: space-between;
}
h2 {
  color: #050000;
  font-size: 35px;
  margin-bottom: 45px;
}
.popular-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.popular-content img { 
  width: 170px;
  position: center;
}
.product-content {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 8px;
  text-align: center;
}
.product1 {
  background-color: #e4a6bb;
  padding: 10px;
}
.product-txt {
  padding: 40px 30px;
}
h3 {
  font-size: 20px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price p {
  font-size: 17px;
  color:#FF5A2C;
}
.btn2:hover {
  padding: 5px 25px;
  background-color: #79ff2c;
  margin-right: 0;
}
.contact {
  padding: 150px 300px;
}
.contact-content {
  background-color: #e4a6bb;
  text-align: center;
  padding: 50px;
  border-radius: 50px;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
input {
  padding: 18px 25px;
  background-color: #3F3456;
  border: 0;
  border-radius: 25px;
  outline: none;
  margin-right: 10px;
  color: #e8f0f0;
  font-size: 17px;
}
::placeholder{
  color: #eedcdc;
  font-size: 17px;
}
.btn-3:hover{
  background-color: #c90b0b;
  cursor: pointer;
  margin-right: 0;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.link ul{
  display: flex;
}
.link ul li a {
  font-size: 20px;
  color: #1a1818;
  margin-right: 25px;
}
.link ul li a:hover {
  color: #f53131;
}

@media(max-width:991px){
  .menu{
    padding: 20px;
  }
  .menu label{
    display: initial;
  }
  .menu .navbar{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #e76d1c;
    display: none;
  }
  .menu .navbar ul li a:hover{
    color: #131212;
  }
  .menu .navbar ul li{
    width: 100px;
  }
  #menu:checked ~ .navbar{
    display: initial;
  }
  .header{
    min-height: 0vh;
    padding: 80px 30px 50px 30px;
  }
  .header-txt h1{
    font-size: 50px;
    margin-bottom: 15px;
  }
  .butons {
    justify-content: center;
  }
  .btn-1:last-of-type{
    margin-right: 0;
  }
  .popular{
    display: none;
  }
  .products{
    padding: 30px;
  }
  .product-content{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
  }
  .product-1 img {
    width: 100px;
  }
  .contact{
    padding: 30px;
  }
  form{
    flex-direction: column;
  }
  input{
   margin:0 0 20px;
  }
  .footer {
   flex-direction: column;
   text-align: center;
  }
  .link ul {
   margin-top: 20px;
  }
}